menu "SARADC"
	config SARADC
		bool "Enable saradc"
		default y

	config SARADC_SERVER
		bool "Enable SARADC server"
		depends on SARADC
		default y

	config SARADC_NEED_FLUSH
		bool "SARADC whether need flush data"
		default y

	config SARADC_RANGE_DIVIDE
		bool "Enable saradc measure range divide"
		default n

	config SARADC_PM_CB_SUPPORT
		bool "saradc pm support"
		depends on SARADC
		default n

	config ADC_BUF_SIZE
		int "config adc receive buffer size"
		default 32
		
	config SARADC_TEST
		depends on SARADC && DRIVER_TEST
		bool "Enable saradc test"
		default y

	config SADC_API_TEST
		bool "saradc api test"
		depends on SARADC
		default n

	config ADC_API_TEST
		depends on SARADC
		bool "Enable adc api test"
		default n

	config SARADC_MB
		bool "Enable SARADC mailbox"
		depends on SARADC
		default n

endmenu	

