menu "Adk::Audio_utils"

	config ADK_UTILS
		bool "Enable ADK Debug Utils"
		default y

	config ADK_UART_UTIL
		depends on ADK_UTILS
		bool "Enable ADK Uart Debug Util"
		default y

	config ADK_COUNT_UTIL
		depends on ADK_UTILS
		bool "Enable ADK Count Debug Util"
		default y

	config ADK_VFS_UTIL
		depends on ADK_UTILS && VFS
		bool "Enable ADK Vfs Debug Util"
		default y

endmenu
