menu "Adk::Audio_streams::Uart_stream"
	config ADK_UART_STREAM
		depends on ADK
		bool "Enable uart stream"
		default n

	config ADK_UART_STREAM_TEST
		depends on ADK_UART_STREAM
		bool "Enable uart stream test"
		default n

endmenu
