menu "Adk::Audio_streams::Onboard_speaker_stream"
	config ADK_ONBOARD_SPEAKER_STREAM
		depends on ADK
		depends on AUDIO_DAC
		bool "Enable onboard speaker stream"
		default n

	config ADK_ONBOARD_SPEAKER_STREAM_TEST
		depends on ADK_ONBOARD_SPEAKER_STREAM
		bool "Enable onboard speaker stream test"
		default n

endmenu
