menu "Adk::Audio_decoders::G711_decoder"
	config ADK_G711_DECODER
		depends on ADK
		bool "Enable Audio G711 Decoder"
		default n

	config ADK_G711_DECODER_TEST
		depends on ADK_G711_DECODER
		bool "Enable Audio G711 Decoder test"
		default n

endmenu
