menu "Adk::Audio_algorithm::Aec_algorithm"
	config ADK_AEC_ALGORITHM
		depends on ADK
		bool "Enable Audio AEC algorithm"
		default n

	config ADK_AEC_ALGORITHM_TEST
		depends on ADK_AEC_ALGORITHM
		depends on ADK_FATFS_STREAM
		bool "Enable Audio AEC algorithm test"
		default n

endmenu
