menu "Adk::Audio_encoders::G711_encoder"
	config ADK_G711_ENCODER
		depends on ADK
		bool "Enable Audio G711 encoder"
		default n

	config ADK_G711_ENCODER_TEST
		depends on ADK_G711_ENCODER
		bool "Enable Audio G711 encoder test"
		default n

endmenu
